*{
    margin: 0;
    padding: 0;
}
body{
    background: url(assets/bg1.jpg) no-repeat;
    height: 300px;
    width: 600px;
}

.n{
    background: rgba(255, 255, 255, 0.242);
    height: 90%;
    width: 90%;
    margin: 15px auto;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
